body { 
    padding-top: 70px; 
}

.img-thumbnail {
  width: 35px;
  border: 0px;
}

.colorFormGood {
  background-color: #23c336;
}

.colorFormMiddle {
  background-color: #e78910;
}

.colorFormNotGood {
  background-color: #e70909;
}


.chart-container {
  display: flex;
  width: 400px;
  height: 400px;
}

.chart7 {
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}

.chart-container30 {
  margin: auto;
  width: 500px;
  height: 500px;
}

.titleGraph {
  margin-bottom: 0px;
}
/*************
 PARSLEY CSS
*************/
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: darkred;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
/***************
 FIN PARSLEY CSS
****************/
